.channel {
    .channel-title {
        a {
            color: $body-color;
            @include hover {
                text-decoration: none;
                color: $link-hover-color;
            }
        }
        margin-bottom: map-get($spacers, 2);
    }
    margin-bottom: map-get($spacers, 3);
}