@model List<ChannelModel>

<div class="container">
    <h1>Channels</h1>
    @foreach (var channel in Model)
    {
        <div class="channel">
            <h2 class="channel-title">
                <a href="@Url.Content($"~/channel/{channel.Channel.Id}")">@channel.Channel.Title</a>
            </h2>
        </div>
    }
</div>